@import url('https://fonts.googleapis.com/css?family=Norican|Nanum+Gothic|Cabin|Raleway&display=swap');

$bg: #8EAAE8;
$bgl: #BBF5FA;
$bgd: #9A9A9A;
$fg: #212321;
$fg_ibt: #A28EE8;
$fg_sup: #43506E;
$w: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $bg;
  color: $fg;
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: column;
}

#header {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

#footer {
  padding: .25em;
  flex-grow: 0;
  justify-self: flex-end;
}

#footer>a {
  float: right;
}

#footer>#rss {
  float: left;
}

#container,#posts {
  background-color: $bgl;
  flex-grow: 30;
  font-family: 'Nanum Gothic', sans-serif;
  // margin-left: 1em;
  // margin-right: 1em;
  padding-top: 1em;
}

#container {
  padding-left: 1em;
  padding-bottom: 1em;
}

#container > h1,h2,h3 {
  font-family: 'Cabin', sans-serif;
}

#container > p {
  color: $fg_sup;
}

#nav {
  flex-grow: 20;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-self: flex-end;
}

.navlink, #searchBut {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: $fg_sup;
  padding: 1em;
  margin-right: 2em;
}

#searchBut {
  cursor: pointer;
}

#searchBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 0px;
  background: $fg;
  transition: height .5s;
}

span.qbef, span.qaft, span.qaf2 {
  opacity: 0;
  color: $bgl;
  transition: opacity .5s;
}

span.qaft {
  padding-left: 1em;
}

span.qaf2 {
  padding-left: .5em;
  transform: rotate(90deg);
}

span.query {
  border-radius: .5em;
  align-self: center;
  background-color: $bgl;
  height: 0px;
  color: $fg;
  width: 100vw;
  transition: height .5s, padding .5s, width .5s;
}

#results {
  display: flex;
  flex-direction: column;
  width: 80vw;
  // min-height: 1em;
  height: 0px;
  background-color: $bg;
  padding-left: 2em;
  transition: height .2s, padding .2s, width .2s;
}

#results > a {
  text-decoration: none;
  color: $bgl;
  font-size: 1.5em;
  margin: .25em;
}

#logo, #name {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#logo {
  padding-left: 1em;
  padding-right: 1em;
  background-color: $bg;
}

#name {
  text-decoration: none;
  font-family: 'Norican', cursive;
  font-size: 5em;
  color: $fg;
}

#name:after {
  content: 'dev';
  display: inline-block;
  color: $w;
  font-family: 'Raleway', sans-serif;
  height: 1.6em;
  width: 1.6em;
  font-size: .3em;
  background: $fg;
  border-radius: 50%;
  padding: .7em;
  padding-bottom: .3em;
  transform: translateY(-.2em);
}

#posts>ul {
  list-style: none;
}

#posts a.post {
  font-size: 1.5em;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

#posts a.post:link {
    color: $fg;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#posts a.post:visited {
  color: $fg_sup;
}

#postList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.postListing {
  // background-image: linear-gradient(to bottom,#fff, $bg);
  background-color: $bg;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  border-radius: .5em;
  margin: .5em;
  width: 10em;
  height: 10em;
}

.postsDate {
  color: $bgl;
  font-style: italic;
  font-size: .75em;
  padding-right: 1em;
  padding-bottom: .3em;
}

#sort {
  background-color: $fg;
  color: $bg;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sortButton:hover {
  cursor: pointer;
}

#latestPost, #top3Posts, #tags {
  margin-top: .5em;
  font-family: 'Cabin', sans-serif;
  width: 40vw;
  border: .6em solid rgba($bg, .1);
  padding: .75em;
  background: rgba($bg, .2);
  border-radius: .6em;
  color: $fg;
}

#latestPost a:link, #top3Posts a:link, #tags a:link {
  color: $fg;
}

#latestPost a:visited, #top3Posts a:visited, #tags a:link  {
  color: $fg_sup;
}

#latestPost>h3, #latestPost>p {
  display: inline-block;
}

#latestPost>h3, #top3Posts>h3, #tags>h3 {
  color: rgba($fg, .5);
  padding-bottom: 1em;
}

#cloud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#cloud>a {
  text-decoration: none;
  padding: .3em;
  // margin: 1em;
}

#cloud>a:link {
  color: rgba($fg_sup, .5);
}

#cloud>a:visited {
  color: rgba($fg_ibt, .5);
}

.tag_xs {
  font-size: .75em;
}

.tag_sm {
  font-size: 1em;
}

.tag_md {
  font-size: 1.25em;
}

.tag_lg {
  font-size: 1.5em;
}

.tag_xl {
  font-size: 1.75em;
}

.tag_xx {
  font-size: 2em;
}

#latestPost>p {
  padding-left: 1em;
  font-size: 2.5em;
}

#top3Posts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#top3Posts a {
  font-size: 2em;
}

#rss {
  background: #43506E;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: .5em;
  border-radius: .5em;
}

#rss>a:link, #rss>a:visited {
  display: block;
  color: #BBF5FA;
  text-decoration: none;
}

.bmc-button img {
  width: 27px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}
.bmc-button {
  display: inline-block;
  line-height: 36px !important;
  height:37px !important;
  text-decoration: none !important;
  display:inline-flex !important;
  color:#ffffff !important;
  background-color:#212321 !important;
  border-radius: 3px !important;
  border: 1px solid transparent !important;
  padding: 1px 9px !important;
  font-size: 22px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  font-family:'Cookie', cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}
.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color:#ffffff !important;
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav {
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
  } 

  #container {
    padding: 0;
    margin: 0;
    padding-left: 1em;
  }
  
  #posts {
    padding-top: .1em;
  }

  #postList {
    overflow: hidden;
    flex-direction: column;
    width: 100vw;
  }

  #postList > li {
    width: 100vw;
  }

  .postListing {
    width: 100vw;
    height: 4em;
    margin: 0;
    margin-bottom: .2em;
    flex-direction: row;
    border-radius: 0;
  }

  #nav {
    justify-content: space-around;
    align-content: space-around;
  }

  .navlink {
    margin: 0;
  }

  #posts a.post {
    font-size: 1em;
  }

  #sort {
    height: 2em;
    padding-top: .35em;
  }

  .searchLink {
    font-size: 1em;
    margin-left: .5em;
  }

  #latestPost {
    width: 90vw;
    margin-right: 1em;
  }

  #top3Posts {
    width: 90vw;
    margin-right: 1em;
  }

  #top3Posts a {
    font-size: 1.1em;
  }

  #tags {
    width: 90vw;
  }
}