@import url('https://fonts.googleapis.com/css?family=Norican|Nanum+Gothic|Cabin|Raleway&display=swap');

$bg: #8EAAE8;
$bgl: #BBF5FA;
$bgd: #9A9A9A;
$fg: #212321;
$fg_ibt: #A28EE8;
$fg_sup: #43506E;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $bg;
  color: $fg;
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: column;
}

#header {
  // background-image: linear-gradient(to bottom, $bg, $bgl);
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

#footer {
  flex-grow: 0;
  justify-self: flex-end;
}

#footer>p {
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
  color: $bgl;
}

#container,#posts {
  background-color: $bgl;
  flex-grow: 30;
  font-family: 'Nanum Gothic', sans-serif;
  // margin-left: 1em;
  // margin-right: 1em;
  padding-top: 1em;
}

#container {
  padding-left: 1em;
}

#container > h1,h2,h3 {
  font-family: 'Cabin', sans-serif;
}

#container > p {
  color: $fg_sup;
}

#nav {
  flex-grow: 20;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-self: flex-end;
}

.navlink {
  // background-color: $bgd;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: $fg_sup;
  padding: 1em;
  margin-right: 2em;
}

#logo {
  flex-grow: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 0;
  column-gap: 0;
  margin-bottom: .5em;
}

#logo > #name {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 8;
}

#logo > #dev {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 8;
  grid-column-end: 12;
  padding-left: .75em;
}

#logo {
  width: 360px;
  height: 100px;
}

#logo span.a {
  font-family: 'Norican', cursive;
  color: $fg;
  font-size: 90px;
  // margin-left: 10px;
}

#logo span.b {
  color: $bgl;
  font-size: 40px;
  font-family: 'Raleway';
}

#logo span.c,span.d {
  color: $fg_ibt;
  font-size: 40px;
}

#posts>ul {
  list-style: none;
}

#posts a.post {
  font-size: 1em;
  padding-left: 1em;
}

#posts a.post:link {
    color: $fg;
}

#posts a.post:visited {
  color: $fg_sup;
}

#postList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.postListing {
  // background-image: linear-gradient(to bottom,#fff, $bg);
  background-color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  border: 1px dotted $bgd;
  padding-bottom: 1em;
  padding-right: 1em;
  margin: .5em;
  width: 10em;
  height: 10em;
}

.postsDate {
  color: $bgl;
  font-style: italic;
  font-size: .75em;
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #header {
    display: block;
  }

  #logo, #nav {
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
  } 

  #container, #posts {
    padding-top: .1em;
    overflow: hidden;
  }

  #postList {
    overflow: hidden;
    flex-direction: column;
    width: 100vw;
  }

  #postList > li {
    width: 100vw;
  }

  .postListing {
    width: 100vw;
    height: 4em;
    margin: 0;
    margin-bottom: .2em;
    flex-direction: row;
  }

  #nav {
    justify-content: space-around;
    align-content: space-around;
  }

  .navlink {
    margin: 0;
  }

  #posts a.post {
    font-size: 1em;
  }
}