@import url('https://fonts.googleapis.com/css?family=Norican|Nanum+Gothic|Cabin|Raleway&display=swap');

$bg: #8EAAE8;
$bgl: #BBF5FA;
$bgd: #9A9A9A;
$fg: #212321;
$fg_ibt: #A28EE8;
$fg_sup: #43506E;
$w: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $bg;
  color: $fg;
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: column;
}

#header {
  // background-image: linear-gradient(to bottom, $bg, $bgl);
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $fg;
  width: 100vw;
  height: 3em;
  flex-grow: 0;
}

#query {
  border-radius: .5em;
  align-self: center;
  background-color: $bgl;
  height: 2em;
  color: $fg;
  width: 60vw;
  padding: .3em;
}

#results {
  flex-grow: 30;
  background-color: $bgl;
}

.searchLink {
  font-size: 2em;
  color: $fg;
  background: $bg;
  margin-left: 2em;
}

#footer {
  padding: .25em;
  flex-grow: 0;
  justify-self: flex-end;
}

#footer>a {
  float: right;
}

#container,#posts {
  background-color: $bgl;
  flex-grow: 30;
  font-family: 'Nanum Gothic', sans-serif;
  // margin-left: 1em;
  // margin-right: 1em;
  padding-top: 1em;
}

#container {
  padding-left: 1em;
}

#container > h1,h2,h3 {
  font-family: 'Cabin', sans-serif;
}

#container > p {
  color: $fg_sup;
}

#nav {
  flex-grow: 20;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-self: flex-end;
}

.navlink {
  // background-color: $bgd;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: $fg_sup;
  padding: 1em;
  margin-right: 2em;
}

#logo, #name {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#logo {
  padding-left: 1em;
  padding-right: 1em;
  background-color: $bg;
}

#name {
  text-decoration: none;
  font-family: 'Norican', cursive;
  font-size: 5em;
  color: $fg;
}

#name:after {
  content: 'dev';
  display: inline-block;
  color: $w;
  font-family: 'Raleway', sans-serif;
  height: 1.6em;
  width: 1.6em;
  font-size: .3em;
  background: $fg;
  border-radius: 50%;
  padding: .7em;
  padding-bottom: .3em;
  transform: translateY(-.2em);
}

#posts>ul {
  list-style: none;
}

#posts a.post {
  font-size: 1.5em;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

#posts a.post:link {
    color: $fg;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#posts a.post:visited {
  color: $fg_sup;
}

#postList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.postListing {
  // background-image: linear-gradient(to bottom,#fff, $bg);
  background-color: $bg;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  border-radius: .5em;
  margin: .5em;
  width: 10em;
  height: 10em;
}

.postsDate {
  color: $bgl;
  font-style: italic;
  font-size: .75em;
  padding-right: 1em;
  padding-bottom: .3em;
}

#sort {
  background-color: $fg;
  color: $bg;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sortButton:hover {
  cursor: pointer;
}

#latestPost, #top3Posts {
  margin-top: .5em;
  font-family: 'Cabin', sans-serif;
  width: 40vw;
  border: .6em solid rgba($bg, .1);
  padding: .75em;
  background: rgba($bg, .2);
  border-radius: .6em;
  color: $fg;
}

#latestPost a:link, #top3Posts a:link {
  color: $fg;
}

#latestPost a:visited, #top3Posts a:visited {
  color: $fg_sup;
}

#latestPost>span>h3, #latestPost>span>p {
  display: inline-block;
}

#latestPost>span>h3, #top3Posts>h3 {
  color: rgba($fg_ibt, .5);
  padding-bottom: 1em;
}

#latestPost>span>p {
  padding-left: 1em;
  font-size: 2.5em;
}

#top3Posts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#top3Posts a {
  font-size: 2em;
}



@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav {
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
  } 

  #container, #posts {
    padding-top: .5em;
    overflow: hidden;
  }

  #postList {
    overflow: hidden;
    flex-direction: column;
    width: 100vw;
  }

  #postList > li {
    width: 100vw;
  }

  .postListing {
    width: 100vw;
    height: 4em;
    margin: 0;
    margin-bottom: .2em;
    flex-direction: row;
    border-radius: 0;
  }

  #nav {
    justify-content: space-around;
    align-content: space-around;
  }

  .navlink {
    margin: 0;
  }

  #posts a.post {
    font-size: 1em;
  }

  #sort {
    height: 2em;
    padding-top: .35em;
  }

  .searchLink {
    font-size: 1em;
    margin-left: .5em;
  }

  #latestPost {
    width: 90vw;
    margin-right: 1em;
  }

  #top3Posts {
    width: 90vw;
    margin-right: 1em;
  }


  #top3Posts a {
    font-size: 1em;
  }
}