html
  head
    title lineus.dev
    include headCommon.pug
  body
    #header
      include logo.pug
      include nav.pug
    #posts
      ul#postList
        each val in posts
          li
            div(class="postListing")
              a(
                href=`${val.out.replace(/^\.\/docs/, '.')}`
                class="post"
              ) #{val.title} 
              div(class="postsDate") #{val.created}
    #footer
      include footer.pug