html
  head
    title lineus.dev
    include headCommon.pug
  body
    #header
      include logo.pug
      include nav.pug
    #sort
      span.sortButton(onclick="bydate()") Oldest First
      span.sortButton(onclick="bytitle()") Alphabetical
    #posts
      ul#postList
        each post in posts
          li.postListing
              a(href=post.out.replace('docs/', '') class="post") #{post.title}
              span.postsDate #{post.published}
    script. 
      const dateBut = document.querySelector('span.sortButton:first-child');
      const titlBut = document.querySelector('span.sortButton:last-child');
      const list = document.querySelector('#postList');
      const posts = Array.from(list.childNodes);

      function replacePosts(arr) {
        while (list.firstChild) {
          list.removeChild(list.firstChild);
        }
        for (let child of arr) {
          list.appendChild(child);
        }
      }

      function bydate() {
        let nodeList = [].concat(posts);
        if (dateBut.innerText === 'Oldest First') {
          dateBut.innerText = 'Newest First';
          nodeList.sort(oldestFirst);
        } else {
          dateBut.innerText = 'Oldest First';
          nodeList.sort(newestFirst);
        }
        replacePosts(nodeList);
      }

      function bytitle() {
        let nodeList = [].concat(posts);
        if (titlBut.innerText === 'Alphabetical') {
          titlBut.innerText = 'Reverse Alpha';
          nodeList.sort(alpha);
        } else {
          titlBut.innerText = 'Alphabetical';
          nodeList.sort(revAlpha);
        }
        replacePosts(nodeList);
      }

      function oldestFirst(a,b) {
        let aEl = a.querySelector('span.postsDate');
        let bEl = b.querySelector('span.postsDate');
        let aD = new Date(aEl.innerText);
        let bD = new Date(bEl.innerText);
        return aD - bD;
      }

      function newestFirst(a,b) {
        let aEl = a.querySelector('span.postsDate');
        let bEl = b.querySelector('span.postsDate');
        let aD = new Date(aEl.innerText);
        let bD = new Date(bEl.innerText);
        return bD - aD;
      }

      function alpha(a,b) {
        let aT = a.querySelector('a').innerText;
        let bT = b.querySelector('a').innerText;
        if (aT > bT) {
          return 1;
        }
        return -1
      }

      function revAlpha(a,b) {
        let aT = a.querySelector('a').innerText;
        let bT = b.querySelector('a').innerText;
        if (aT < bT) {
          return 1;
        }
        return -1
      }
    #footer
      include footer.pug