#nav
  a#whoami(href="/whoami.html" class="navlink" title="about") About
  a#ls(href="/ls.html" class="navlink" title="list articles") Articles
  a#projects(href="/projects.html" class="navlink" title="projects") Projects
  span#searchBut Search

script.
  (function () {
    const { location } = window;
    const path = `${location}`.split('/');
    const file = path[path.length - 1];
    const navs = Array.from(document.querySelectorAll('#nav a'));
    let active = navs.findIndex(el => el.getAttribute('href') === `/${file}`);
    navs.map(n => n.classList.remove('active'));
    if (active >= 0) {
      navs[active].classList.add('active')
    }
  })()
  //- a#grep(href="/grep.html" class="navlink" title="search Articles") Search