#nav
  a#whoami(href="/whoami.html" class="navlink" title="about") About
  a#ls(href="/ls.html" class="navlink" title="list articles") Articles
  a#projects(href="/projects.html" class="navlink" title="projects") Projects
  a#grep(href="/grep.html" class="navlink" title="search Articles") Search