html
  head
    title lineus.dev #{title}
    include headCommon.pug
  body
    #header
      include logo.pug
      include nav.pug
    #container !{post}
    script(src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.4.0/stitch.js")
    script. 
      const link = '!{postLink}';
      const client = stitch.Stitch.initializeDefaultAppClient('blog-iydtx');
      const db = client.getServiceClient(stitch.RemoteMongoClient.factory, 'mongodb-atlas').db('SiteMetrics');
      client.auth.loginWithCredential(new stitch.AnonymousCredential()).then(function(user) {
        db.collection('visitors').insertOne({ path: link }).catch(console.dir);
      }).catch(console.dir);
    #footer
      include footer.pug