html
  head
    title Kev.in.Words/posts/#{title}
    include headCommon.pug
  body
    #header
      include logo.pug
      include nav.pug
    #container !{post}
    #footer
      include footer.pug