@import url("https://fonts.googleapis.com/css?family=Norican|Nanum+Gothic|Cabin|Raleway&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  background-color: #8EAAE8;
  color: #212321;
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: column; }

#header {
  flex-grow: 0;
  display: flex;
  flex-direction: row; }

#footer {
  flex-grow: 0;
  justify-self: flex-end; }

#footer > p {
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
  color: #BBF5FA; }

#container, #posts {
  background-color: #BBF5FA;
  flex-grow: 30;
  font-family: 'Nanum Gothic', sans-serif;
  padding-top: 1em; }

#container {
  padding-left: 1em; }

#container > h1, h2, h3 {
  font-family: 'Cabin', sans-serif; }

#container > p {
  color: #43506E; }

#nav {
  flex-grow: 20;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-self: flex-end; }

.navlink {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #43506E;
  padding: 1em;
  margin-right: 2em; }

#logo {
  flex-grow: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 0;
  column-gap: 0;
  margin-bottom: .5em; }

#logo > #name {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 8; }

#logo > #dev {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 8;
  grid-column-end: 12;
  padding-left: .75em; }

#logo {
  width: 360px;
  height: 100px; }

#logo span.a {
  font-family: 'Norican', cursive;
  color: #212321;
  font-size: 90px; }

#logo span.b {
  color: #BBF5FA;
  font-size: 40px;
  font-family: 'Raleway'; }

#logo span.c, span.d {
  color: #A28EE8;
  font-size: 40px; }

#posts > ul {
  list-style: none; }

#posts a.post {
  font-size: 1em;
  padding-left: 1em; }

#posts a.post:link {
  color: #212321; }

#posts a.post:visited {
  color: #43506E; }

#postList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.postListing {
  background-color: #8EAAE8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  border: 1px dotted #9A9A9A;
  padding-bottom: 1em;
  padding-right: 1em;
  margin-bottom: 1em; }

.postListing {
  width: 25vw;
  height: 25vw; }

.postsDate {
  color: #BBF5FA;
  font-style: italic;
  font-size: .75em; }

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column; }
  #header {
    display: block; }
  #logo, #nav {
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0; }
  #container, #posts {
    padding-top: .1em; }
  #postList {
    flex-direction: column;
    width: 100vw; }
  #postList > li {
    width: 100vw; }
  .postListing {
    width: 100vw;
    margin-bottom: .1em; }
  #nav {
    justify-content: space-around;
    align-content: space-around; }
  .navlink {
    margin: 0; }
  #posts a.post {
    font-size: 1em; } }
