@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #656565;
  font-family: 'Roboto', sans-serif;
}

#container {
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.navlink {
  text-decoration: none;
  color: #ccc;
}

#logo {
  display: inline-block;
}

#nav {
  display: inline-block;
}