doctype html
html
  head
    title lineus.dev
    include headCommon.pug
  body
    #header
      include logo.pug
      include nav.pug
    #container
      p contains things
    #footer
      include footer.pug