doctype html
html
  head
    title lineus.dev
    include pug/headCommon.pug
  body
    #header
      include pug/logo.pug
      include pug/nav.pug
    #container
      #latestPost
        span
          h2 Latest Post:
          p
            a(href=latestPost.link) !{latestPost.title}
    #footer
      include pug/footer.pug