html
  head
    title lineus.dev
    link(rel="stylesheet" href="./style/index.css")
  body
    #header
      include logo.pug
      include nav.pug
    #posts
      ul
        each val in posts
          li
            a(href=`${val}`) #{val}
    #footer
      include footer.pug