html
  head
    title lineus.dev
    include headCommon.pug
  body
    #header
      include logo.pug
      include nav.pug
    #posts
      ul
        each val in posts
          li
            a(href=`${val.out}` class="post") #{val.title}
    #footer
      include footer.pug