#nav
  a#cd(href="/" class="navlink" title="home") Home
  a#whoami(href="/whoami.html" class="navlink" title="about") About
  a#ls(href="/ls.html" class="navlink" title="list posts") Posts
  a#grep(href="/grep.html" class="navlink" title="search posts") Search