doctype html
html(lang="en")
  head
    title lineus.dev
    include pug/headCommon.pug
  body
    #header
      include pug/logo.pug
      include pug/nav.pug
    include pug/search.pug
    #container
    #footer
      include pug/footer.pug