doctype html
html(lang="en")
  head
    title lineus.dev
    include pug/headCommon.pug
  body
    #header
      include pug/logo.pug
      include pug/nav.pug
    include pug/search.pug
    #container
      h1 About Me
      include html/me.html
      h1 About This Site
      include html/site.html
    #footer
      include pug/footer.pug